/* Returns the base static URL given an app name */
@function static-base($app-name) {
    @return '../static/' + $app-name + '/';
}

/* Helper function for creating absolute urls to images, fonts, etc... from within CSS */
@function dl-url($app-name, $static-path-suffix) {
    @return url(#{'../'}#{$static-path-suffix})
}

@mixin border-radius($radius) {
    border-radius:$radius;
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
}

@mixin border-top-left-radius($radius) {
    border-top-left-radius:$radius;
    -webkit-border-top-left-radius:$radius;
    -moz-border-top-left-radius:$radius;
}

@mixin border-top-right-radius($radius) {
    border-top-right-radius:$radius;
    -webkit-border-top-right-radius:$radius;
    -moz-border-top-right-radius:$radius;
}

@mixin border-bottom-left-radius($radius) {
    border-bottom-left-radius:$radius;
    -webkit-border-bottom-left-radius:$radius;
    -moz-border-bottom-left-radius:$radius;
}

@mixin border-bottom-right-radius($radius) {
    border-bottom-right-radius:$radius;
    -webkit-border-bottom-right-radius:$radius;
    -moz-border-bottom-right-radius:$radius;
}

@mixin circle {
    @include border-radius(50%);
}

@mixin placeholder-style($color, $opacity){
    &::-webkit-input-placeholder {color: $color; opacity: $opacity;}
    &:-moz-placeholder {color: $color; opacity: $opacity;}
    &::-moz-placeholder {color: $color; opacity: $opacity;}
}
